.main{
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

.forms{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    backdrop-filter: blur(12px);
    background-color: #fff;
    width: 400px;
    height: 500px;
    border-radius: 20px;
}