.main{
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

.forms{
    position: fixed;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    backdrop-filter: blur(12px);
    background-color: #fff;
    width: 400px;
    height: 500px;
    border-radius: 20px;
}

.grid{
    line-height: calc(500px/3);
    margin: 0;
    padding: 0;
}

.cel{
    height: calc(500px/3);
}

.userinput{
    margin-left: 15px;
    border: none;
    border-radius: none;
    border-bottom: 2px solid var(--color-primary);
    background: none;
    outline: none;
    font-size: 20px;
    width: 80%;
}

.usinico{
    font-size: 20px;
}

.lgnbtn{
    margin: 0 auto;
    align-items: center;
    height: 40px;
    width: 120px;
    background: var(--color-primary);
    border-radius: 30px;
    border: none;
    color: #fff;
    font-size: 22px;
    transition: .5s ease;
}

.lgnbtn:hover{
    background: var(--color-pshadow);
}