  .Logo{
    color: #5c718e;
    font-size: 38px;
    text-align: center;
    user-select: none;
    text-decoration: none;
  }

  .fakenav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100vw;
    height: 48px;
    background-color: #C1D6E8;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .top_navigation {
    transition: 0.5s;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100vw;
    height: 48px;
    line-height: 48px;
    background: #C1D6E8;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .nbar {
    user-select: none;
    background-color: var(--color-primary);
    transition: .5s ease;
    color: #fff;
    width: 38px;
    height: 38px;
    margin: 4px;
    padding: 6px;
    border-radius: 6px;
  }

  .nbar:hover {
    background: var(--color-pshadow);
  }
  
  .navigation {
    display: grid;
    grid-template-columns: 1fr 3fr 0fr;
  }
  
  .nv_btn {
    user-select: none;
    transition: 0.5s;
    font-size: 13px;
    height: 32px;
    border: none;
    background-color: var(--color-primary);
    padding: 6px;
    border: 1px solid #fff;
    color: #fff;
  }
  
  .nv_btn:hover {
    background: var(--color-pshadow);
  }

  .side{
    position: fixed;
    transition: .5s;
    left: -260px;
    top: 0;
    bottom: 0;
    z-index: 100;
    width: 260px;
    height: 100vh;
    background: #C1D6E8;
    border-bottom-right-radius: 5px;
  }

  .sidegrid{
    display: grid;
  }

  .hiden{
    display: none;
  }

  .logosi{
    display: block;
  }

  .sidbtns{
    transition: .5s ease;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    background: var(--color-primary);
    border: none;
    color: #fff;
    margin: 20px 0;
  }

  .sidbtns:hover{
    background-color: var(--color-pshadow);
  }
  
  @media screen and (min-width: 750px) {
    .navigation {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  
    .nv_btn {
      user-select: none;
      transition: 0.5s;
      font-size: 15px;
      height: 34px;
      border-radius: 17px;
      border: none;
      background-color: var(--color-primary);
      padding: 8px;
      margin: 0 10px;
      color: #fff;
    }

    .hiden{
      display: block;
    }

    .logosi{
      display: none;
    }
  }