.main {
    position: absolute;
    left: 0;
    right: 0;
    top: 48px;
    margin: auto;
    min-height: calc(100vh - 48px);
  }
  
  .head{
    color: var(--color-primary);
    width: 100vw;
    text-align: center;
    font-size: 25px;
  }

  .loader{
    height: 60px;
    width: 60px;
    color: var(--color-primary);
    margin: 50px;
    align-items: center;
    animation: rotate 1s infinite;
  }

  @keyframes rotate{
    0%{
      transform: rotateZ(0deg);
    }
    50%{
      transform: rotateZ(180deg);
    }
    100%{
      transform: rotateZ(360deg);
    }
  }